<% if tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タスクID</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><%= link_to task.id, task %></td>
          <td><%= task.status %></td>
          <td><%= task.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= paginate tasks %></div>
<% end %>